.canvas {
  min-height: 100vh;
  background: #eeeef8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  background: #fff;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 34% 1fr;
  grid-template-areas: "s m";
  box-shadow: 0 1px 3px hsla(300, 100%, 25%, 0.14), 0 2px 16px hsla(300, 100%, 25%, 0.1);
}


.sidebar,
.main {
  padding: 40px;
}

.sidebar {
  grid-area: s;
  background: purple;
}

.main {
  grid-area: m;
}
