$hours: sixam, sevenam, eightam, nineam, tenam, elevenam, twelvepm, onepm, twopm, threepm, fourpm, fivepm, sixpm, sevenpm, eighpm, ninepm, tenpm, elevenpm, twelveam;
.container {
  display: grid;
  grid-template-columns: 
    [time] 50px
    [monday] 1fr
    [tuesday] 1fr
    [wednesday] 1fr
    [thursday] 1fr
    [friday] 1fr
    [saturday] 1fr
    [sunday] 1fr;
  grid-template-rows:
    [header] 50px
    [sixam] 6vh
    [sevenam] 6vh
    [eightam] 6vh
    [nineam] 6vh
    [tenam] 6vh
    [elevenam] 6vh
    [twelvepm] 6vh
    [onepm] 6vh
    [twopm] 6vh
    [threepm] 6vh
    [fourpm] 6vh
    [fivepm] 6vh
    [sixpm] 6vh
    [sevenpm] 6vh
    [eighpm] 6vh
    [ninepm] 6vh
    [tenpm] 6vh
    [elevenpm] 6vh
    [twelveam] 6vh;
  grid-gap: 1px;
  padding: 10px;
  min-height: 100vh;
}

.head {
  padding: 10px 0;
}

.time {
  grid-column: time / span 1;
  font-size: 11px;
}

.mon {
  grid-column: monday / span 1;
}

.tue {
  grid-column: tuesday / span 1;
}

.wed {
  grid-column: wednesday / span 1;
}

.thu {
  grid-column: thursday / span 1;
}

.fri {
  grid-column: friday / span 1;
}

.sat {
  grid-column: saturday / span 1;
}

.sun {
  grid-column: sunday / span 1;
}

.event {
  border-radius: 3px;
  background: blue;
  color: #fff;
  font-size: 13px;
  padding: 3px 5px;
}

@each $hour in $hours {
  .#{$hour} {
    grid-row-start: #{$hour};
  }
}

@for $i from 1 through 8 {
  .span-#{$i} {
    grid-row-end: span #{$i};
  }
}
