@import "../../styles/_tools.respond_to.sass";

$hours: sixam, sevenam, eightam, nineam, tenam, elevenam, twelvepm, onepm, twopm, threepm, fourpm, fivepm, sixpm, sevenpm, eightpm, ninepm, tenpm, elevenpm, twelveam;
.container {
  display: grid;
  grid-template-columns: 
    [time] 50px
    [monday] 1fr
    [tuesday] 1fr
    [wednesday] 1fr
    [thursday] 1fr
    [friday] 1fr
    [saturday] 1fr
    [sunday] 1fr;
  grid-template-rows:
    [header] 50px
    [sixam] 5vh
    [sevenam] 5vh
    [eightam] 5vh
    [nineam] 5vh
    [tenam] 5vh
    [elevenam] 5vh
    [twelvepm] 5vh
    [onepm] 5vh
    [twopm] 5vh
    [threepm] 5vh
    [fourpm] 5vh
    [fivepm] 5vh
    [sixpm] 5vh
    [sevenpm] 5vh
    [eightpm] 5vh
    [ninepm] 5vh
    [tenpm] 5vh
    [elevenpm] 5vh
    [twelveam] 5vh;
  grid-gap: 1px;
  padding: 1px;
  min-height: 100vh;
  @include respond-to(small-down) {
    grid-template-columns: 
      [time] 10vw
      [monday] 40vw
      [tuesday] 40vw
      [wednesday] 40vw
      [thursday] 40vw
      [friday] 40vw
      [saturday] 40vw
      [sunday] 40vw;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }
}

.head {
  padding: 10px 0;
  line-height: 40px;
  scroll-snap-align: center;
  text-align: center;
}

.time {
  grid-column: time / span 1;
  font-size: 11px;
  text-align: right;
  padding-right: 10px;
}

.mon {
  grid-column: monday / span 1;
}

.tue {
  grid-column: tuesday / span 1;
}

.wed {
  grid-column: wednesday / span 1;
}

.thu {
  grid-column: thursday / span 1;
}

.fri {
  grid-column: friday / span 1;
}

.sat {
  grid-column: saturday / span 1;
}

.sun {
  grid-column: sunday / span 1;
}

.event {
  border-radius: 3px;
  background: blue;
  color: #fff;
  font-size: 13px;
  padding: 3px 5px;
}

@each $hour in $hours {
  .#{$hour} {
    grid-row-start: #{$hour};
  }
}

@for $i from 1 through 8 {
  .span#{$i} {
    grid-row-end: span #{$i};
  }
}
