@import "../../styles/_tools.fluid_scale.sass";
@import "../../styles/_tools.respond_to.sass";

.canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(135deg, #F8F8F8 0%, #E7E7E7 100%);
  dl {
    margin: 0;
  }
  dt {
    margin: 0;
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 13px, 15px);
    line-height: 1.2;
    color: #29476B;
  }
  dd {
    margin: 0;
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 15px, 21px);
    line-height: 1.2;
    color: #223146;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,0.26), 0 1px 5px 0 rgba(0,0,0,0.50);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 110px 210px;
  grid-template-areas: "header header" "main side";
  overflow: hidden;
  transition: 0.2s ease transform;
  transform: rotate(0deg);
  @include respond-to(0, 899px) {
    transform: rotate(-90deg);
    width: 72vh;
    transform-origin: 35% 50%;
  }
}

.header {
  grid-area: header;
  background-image: linear-gradient(180deg, #32537A 0%, #223146 100%);
  padding: 50px 50px 20px;
  position: relative;
  dt {
    color: rgba(255,255,255,0.70);
  }
  dd {
    color: #FFFFFF;
  }
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 80px;
    background: #FF930F;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.sc {
  font-variant: small-caps;
}

.main {
  grid-area: main;
  padding: 45px 50px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 40px;
}

.main_details {
  display: grid;
  grid-gap: 20px;
  max-width: 360px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  dl,
  .detail_icon {
    grid-column: span 2;
  }
  .detail_icon {
    place-self: center;
  }
}


.side {
  grid-area: side;
}

