@import "../../styles/_tools.respond_to.sass";

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "header" "body";
  background: #1b1721;
}

.header {
  grid-area: header;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  h1 {
    font-size: 16px;
    margin: 5px;
  }
}

.board {
  grid-area: body;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  @include respond-to(0, 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 380px);
  }
  @include respond-to(small-down) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 240px);
  }
}
