@import "../../styles/_tools.fluid_scale.sass";
@import "../../styles/_tools.respond_to.sass";

.container {
  color: inherit;
  padding: 40px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f7f7f7;
  transition: background 0.2s ease;
  &:hover {
    background: #fff;
    .address {
      opacity: 1;
    }
  }
  @include respond-to(small-down) {
    padding: 20px;
  }
}

.address {
  font-style: normal;
  padding: 0 0 0 35px;
  margin: 20px 0 0;
  background: url(../../images/melb-places/pin.svg) 0 40% no-repeat;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  p {
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 13px, 14px);
    margin: 0;
    line-height: 1.4;
  }
}

.category {
  margin: 0;
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 15px, 18px);
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: #808080;
  font-variant: small-caps;
  padding: 5px 0 5px;
}

.name {
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 15px, 21px);
  margin: 0.25em 0 0.6em;
}

.summary {
  margin: 0.6em 0;
  line-height: 1.6;
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 14px, 15px);
}
