@import "../../styles/_tools.respond_to.sass";

.container {
  background: #0b1d2d;
  height: 100vh;
}

.page {
  background: #f7f7f7;
  height: 100vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  background: #092640;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  font-size: 29px;
}

.content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  @include respond-to(ipad-up) {
    padding: 40px;
  }
}
