* {
  font-family: 'Inter UI', 'Inter-UI', 'InterUI', sans-serif;
}

h1 {
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 25px, 32px);
}

p {
  @include fluid-scale(font-size, $responsive_min, $responsive_max, 14px, 17px);
  line-height: 1.66;
}
