$dark__background: #13111a;
$dark__primary: #ffffff;
$dark__secondary: rgb(142, 136, 167);
$dark__link: hsl(208, 100%, 45%);
$dark__linkUnderline: hsl(206, 63%, 11%);
$dark__linkUnderline--hover: hsl(206, 100%, 25%);
