.steps {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &:before,
  &:after {
    content: '';
    width: 2px;
    background: rgba(255,255,255,0.05);
    position: absolute;
    top: 0;
    left: 29px;
    bottom: 0;
  }
  &:after {
    background: rgba(255,255,255,0.75);
    bottom: 50%;
  }
  li {
    width: 22px;
    height: 22px;
    position: relative;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 11px;
    background: #131C2B;
    cursor: pointer;
    &.complete {
      border-color: rgba(255,255,255,0.8);
      position: relative;
      z-index: 3;
    }
    &.current {
      border-color: rgba(255,255,255,0.9);
      position: relative;
      z-index: 3;
    }
    &:hover .label {
      transform: translateX(0%) translateY(-50%) scale(1);
      opacity: 1;
    }
  }
}

.complete:after {
  content: '';
  position: absolute;
  background: #fff url(../../images/flightbooking/check.svg) 50% 50% no-repeat;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  top: 2px;
  left: 2px;
}



.label {
  position: absolute;
  left: 30px;
  width: 170px;
  text-align: center;
  color: #fff;
  background: rgba(6, 14, 27, 0.92);
  padding: 6px;
  top: 50%;
  font-size: 13px;
  transform: translateX(-20px) translateY(-50%) scale(0.6);
  transform-origin: 0 50%;
  opacity: 0;
  border-radius: 6px;
  user-select: none;
  transition: all .2s ease;
  z-index: 10000;
  position: relative;
  border: 1px solid rgba(6, 14, 27, 0.95);
  box-shadow: 0 1px 3px #060e1b85, 0 4px 12px #060e1b85, inset 0 1px 1px rgba(141, 204, 255, 0.2);
}
