.sun {
  background: url(../../images/wearthere/regular/sun.svg) 0% 50% no-repeat;
}

.wind {
  background: url(../../images/wearthere/regular/wind.svg) 0% 50% no-repeat;
}

.overcast {
  background: url(../../images/wearthere/regular/overcast.svg) 0% 50% no-repeat;
}

.storm {
  background: url(../../images/wearthere/regular/storm.svg) 0% 50% no-repeat;
}

.rain {
  background: url(../../images/wearthere/regular/rain.svg) 0% 50% no-repeat;
}
