.container {
  display: grid;
  grid-template-columns: [editor] 1fr [render] 1fr;
  grid-template-rows: [head] 50px [body] 1fr;
  min-height: 100vh;
  grid-gap: 10px;
}

.editor {
  grid-column: editor;
  grid-row: body;
  * {
    display: block;
  }
}

.render {
  grid-column: render;
  grid-row: body;
}
