@import "../styles/settings.colour";
@import "../styles/_tools.respond_to";
@import "../styles/_tools.fluid_scale";

.container {
  background: $dark__background;
  color: $dark__primary;
  padding: 100px 15px;

  h3 {
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 17px, 35px);
    line-height: 1.3;
    margin: 0;
  }

  p {
    line-height: 1.5;
    color: $dark__secondary;
    margin: 0;
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 13px, 17px);
  }
}

.logo img {
  display: block;
}

@include respond-to(small-up) {
  .grid {
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    img {
      max-width: 100%;
    }
  }

  .title {
    grid-column: 2 / 3;
  }

  .caption {
    grid-column: 2 / 3;
  }
}

@include respond-to(mobile-down) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 15px;
  }

  .logo {
    grid-column: 1 / 2;
    align-self: end;

    a,
    img {
      display: block;
      width: 100%;
    }
  }

  .title {
    grid-column: 2 / 3;
  }

  .caption {
    grid-column: 2 / 3;
  }
}

.links {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.prevLink,
.nextLink {
  display: block;
  background: #100E17;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  grid-column: 3 / 4;
}

.nextLink {
  margin-top: 20px;
  text-align: right;
}
