@import "../styles/settings.colour";
@import "../styles/_tools.respond_to";
@import "../styles/_tools.fluid_scale";

.container {
  background: $dark__background;
  color: $dark__primary;
  padding: 0;

  h3 {
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 17px, 31px);
    line-height: 1.3;
    margin: 0 0 1em;
  }

  h4 {
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 15px, 18px);
    margin: 0.5em 0 1em;
  }

  p {
    line-height: 1.5;
    color: $dark__secondary;
    margin: 0;
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 13px, 17px);
  }
}

.entry {
  background: #221D31;

  p {
    @include fluid-scale(font-size, $responsive_min, $responsive_max, 13px, 14px);
    color: rgba(255, 255, 255, 0.66);
    line-height: 1.5;

    a {
      color: rgb(203, 178, 255);
      text-decoration: none;
      border-bottom: 1px solid rgba(203, 178, 255, 0.2);
    }
  }

  p+p {
    margin-top: 1.2em;
  }
}

.logo img {
  display: block;
}

@include respond-to(small-down) {
  .grid {
    display: grid;
    grid-template-columns: 22% 22% 56%;
    grid-template-rows: auto 60px;
    grid-template-areas:
      "main main aside"
      ". link link"
  }

  .logo img {
    max-width: 106px;
    margin-bottom: 5vw;
  }

  .signoff,
  .entry {
    padding: 4vw;
  }
}

@include respond-to(ipad-up) {
  .grid {
    display: grid;
    grid-template-columns: 54.16% 6.94% 1fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas:
      "main main aside"
      ". link link"
  }

  .logo img {
    max-width: 100%;
    margin-bottom: 2vw;
  }

  .signoff {
    padding: 6vw;
  }

  .entry {
    padding: 4vw 3vw;
  }
}

.signoff {
  grid-area: main;
}

.entry {
  grid-area: aside;
}

.links {
  grid-area: link;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevLink,
.indexLink,
.nextLink {
  background: #100E17;
  background: #594E7F;
  flex: 0 1 33.33%;
  padding: 31px 10px;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  text-align: center;
  transition: 0.2s background ease;

  @include respond-to(small-down) {
    padding: 21px 10px;
  }
}

a.prevLink,
a.nextLink,
a.indexLink {
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    background: #6a5e92;
  }
}
