.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-gap: 1px;
  background: #eee;
  grid-template-areas:
    "header header header"
    "calendar day detail";
}

.header {
  grid-area: header;
  text-align: center;
  background: #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
