@import "../../styles/settings.colour.scss";
@import "../../styles/tools.respond_to.sass";

@keyframes pulse {
  0%   { opacity: 0.25; }
  100% { opacity: 1; }
}

.container {
  display: grid;
}

.badge {
  padding-left: 6px;
}

.active {
  color: hsla(160, 100%, 35%, 1);
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background: hsl(157, 100%, 25%);
    box-shadow: 0 1px 3px hsla(157, 100%, 25%, 0.623);
    left: 0;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-2px);
    animation: pulse 1s infinite alternate ease forwards;
  }
}

.intro {
  padding: 40px;
  background: $dark__background;
  color: $dark__primary;
  .logo {
    margin: 30px 0 15px;
  }
  h1 {
    font-weight: 800;
  }
  p {
    color: $dark__secondary;
  }
  a {
    color: $dark__link;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid $dark__linkUnderline;
    transition: 0.2s border ease;
    &:hover {
      border-bottom: 1px solid $dark__linkUnderline--hover;
    }
  }
}

@include respond-to(ipad-up) {
  .container {
    grid-template-columns: 1fr 3fr;
    height: 100vh;
  }
  .intro {
    grid-column: 1 / 2;
  }
}
